# Making a test file for testing my model on the unseen data

In [1]:
import praw
import pandas as pd

In [2]:
#use your own  info below to provide to the wrapper to pull from the API.

In [3]:
from psaw import PushshiftAPI
import time

In [5]:
api = PushshiftAPI(reddit)

In [6]:
travel_dict = { "title":[],
#             "score":[],
#             "id":[],
#             "url":[], 
#             "comms_num": [],
#             "created": [],
            "body":[]
              }
counter = 0 # initializing counting variable
sleep_counter = 0 # initializing sleep_counter variable
for item in api.search_submissions(subreddit='travel', limit=500):
    travel_dict["title"].append(item.title)
#     topics_dict["score"].append(item.score)
#     topics_dict["id"].append(item.id)
#     topics_dict["url"].append(item.url)
#     topics_dict["comms_num"].append(item.num_comments)
#     topics_dict["created"].append(item.created)
    travel_dict["body"].append(item.selftext)
    counter +=1
    sleep_counter += 1
    if sleep_counter > 99:
        print(counter)
        time.sleep(3)
        sleep_counter = 0

100
200
300
400
500

In [7]:
df_travel =  pd.DataFrame(travel_dict)

df_travel.head()

,title,body
0,indianapolis locals help me out,[removed]
1,"Amoudi Bay, Santorini Greece July 13",
2,Belize travel,I am looking for a place on the beach for an e...
3,Dusk. Seattle skyline.,
4,"first time, but not the last in NYC and had to...",

In [8]:
df_travel['body'] = df_travel.body.replace('[removed]',"")

In [9]:
df_travel['body'] = df_travel.body.replace('[deleted]',"")

In [10]:
df_travel['status'] = df_travel['title'] + df_travel['body']

In [42]:
df_travel['target'] = 1

In [43]:
df_travel.head()

                                              status  target
0                    indianapolis locals help me out       1
1               Amoudi Bay, Santorini Greece July 13       1
2  Belize travelI am looking for a place on the b...       1
3                             Dusk. Seattle skyline.       1
4  first time, but not the last in NYC and had to...       1

In [12]:
df_travel.drop(columns=['title','body'],inplace= True)

In [14]:
def deEmojify(inputString):
    return inputString.encode('ascii', 'ignore').decode('ascii')

for i in range(len(df_travel['status'])):
    df_travel['status'][i] = deEmojify(df_travel['status'][i])

In [15]:
df_travel['status'] = df_travel.status.replace('http\S+', "", regex=True).replace('www\S+', '', regex=True).replace('#\S+', '', regex=True).replace('\n\n\S+', '', regex=True)

In [49]:
df_travel.to_csv("./test_travel.csv")

In [18]:
awards_dict = { "title":[],
#             "score":[],
#             "id":[],
#             "url":[], 
#             "comms_num": [],
#             "created": [],
            "body":[]
              }
counter = 0 # initializing counting variable
sleep_counter = 0 # initializing sleep_counter variable
for item in api.search_submissions(subreddit='awardtravel', limit= 300):
    awards_dict["title"].append(item.title)
#     topics_dict["score"].append(item.score)
#     topics_dict["id"].append(item.id)
#     topics_dict["url"].append(item.url)
#     topics_dict["comms_num"].append(item.num_comments)
#     topics_dict["created"].append(item.created)
    awards_dict["body"].append(item.selftext)
    counter +=1
    sleep_counter += 1
    if sleep_counter > 99:
        print(counter)
        time.sleep(3)
        sleep_counter = 0

100
200
300

In [19]:
df_awards = pd.DataFrame(awards_dict)

df_awards.shape

(300, 2)

In [20]:
df_awards['body'] = df_awards.body.replace('[removed]',"")

In [21]:
df_awards['body'] = df_awards.body.replace('[deleted]',"")

In [22]:
df_awards['status'] = df_awards['title'] + df_awards['body']

In [23]:
df_awards.drop(columns=['title','body'],inplace= True)

In [24]:
def deEmojify(inputString):
    return inputString.encode('ascii', 'ignore').decode('ascii')

for i in range(len(df_awards['status'])):
    df_awards['status'][i] = deEmojify(df_awards['status'][i])

In [25]:
df_awards['status'] = df_awards.status.replace('http\S+', '', regex=True).replace('www\S+', '', regex=True).replace('#\S+', '', regex=True).replace('\n\n\S+', '', regex=True)

In [44]:
df_awards['target']=0

In [45]:
df_awards.isnull().sum()

status    0
target    0
dtype: int64

In [50]:
df_awards.to_csv("./test_awards.csv")

In [51]:
final_test = pd.concat([df_travel,df_awards],axis=0,ignore_index=True)

In [52]:
final_test

                                                status  target
0                      indianapolis locals help me out       1
1                 Amoudi Bay, Santorini Greece July 13       1
2    Belize travelI am looking for a place on the b...       1
3                               Dusk. Seattle skyline.       1
4    first time, but not the last in NYC and had to...       1
..                                                 ...     ...
795  Another ANA RTW booking reportI'm defending my...       0
796  General Rule of Thumb for booking AI Hotels wi...       0
797  How to decide between Lufthansas First, Busine...       0
798                We provided air tickets in all usa.       0
799  How can some airlines offer insane first class...       0

[800 rows x 2 columns]

In [53]:
import re

In [54]:
def status_to_words(raw_status):
    # 2. Remove non-letters.
    letters_only = re.sub("[^a-zA-Z]", " ", raw_status)
    
    # 3. Convert to lower case, split into individual words.
    words = letters_only.lower().split()
    return(" ".join(words))

In [55]:
# Initialize an empty list to hold the clean reviews.
clean_status = []
# clean_test_reviews = []

print("Cleaning and parsing the  status ")

j = 0
for status in final_test['status']:
    # Convert status to words, then append to clean_status.
    clean_status.append(status_to_words(status))
    
    # If the index is divisible by 1000, print a message
    if (j + 1) % 1000 == 0:
        print(f'status {j + 1} of {final_test.shape[0]}.')
    
    j += 1

Cleaning and parsing the  status

In [56]:
final_test['status'] = clean_status

In [57]:
final_test

                                                status  target
0                      indianapolis locals help me out       1
1                     amoudi bay santorini greece july       1
2    belize traveli am looking for a place on the b...       1
3                                 dusk seattle skyline       1
4    first time but not the last in nyc and had to ...       1
..                                                 ...     ...
795  another ana rtw booking reporti m defending my...       0
796  general rule of thumb for booking ai hotels wi...       0
797  how to decide between lufthansas first busines...       0
798                 we provided air tickets in all usa       0
799  how can some airlines offer insane first class...       0

[800 rows x 2 columns]

In [58]:
final_test.to_csv("./test_file.csv")